<h1>Create a new Recipe:</h1>
<br>
<form method="POST" action="/recipes">
  <p>
    <label for="name">Name:</label>
    <input id="name" type="text" name="recipe[name]">
  </p>
  <p>
    <label for="description">Description:</label>
    <input id="description" type="textarea" name="recipe[description]">
  </p>

  <p>
    <h4>Select Ingredients used in this recipe:</h4>
    <br>
    <p>
      <%@ingredients.each do |ingredient|%>
        <input type="checkbox" id=<%=ingredient.id%> value=<%=ingredient.id%> name="recipe[ingredient_ids][]"> <%=ingredient.name%><br>
      <%end%>
    </p>
  </p>
  <input id="create recipe" type="submit" value="Create Recipe">
  <br>
  <br>
  <a href="/ingredients/new">Create a New Ingredient</a>
</form>
