<h1><%=@recipe.name%></h1>

<p>
<%=@recipe.description%>
</p>
<p><a href="/recipes/<%=@recipe.slug%>/edit">Edit Recipe</a></p>
<form method="POST" action="/recipes/<%=@recipe.slug%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input id="Delete" type="submit" value="Delete">
</form>
