<h1>Edit your Account:</h1>
<%if @errors%>
  <h3><%=@errors%></h3>
<%end%>
<form method="POST" action="/users/<%=@user.id%>">
<input id="hidden" type="hidden" name="_method" value="patch">
  <p>
  <label for="username">Username:</label>
  <input id="username" type="text" name="user[username]" value=<%=@user.username%>>
  </p>
  <p>
    <label for="old_password">Old Password:</label>
    <input id="old_password" type="password" name="old_password">
  </p>
  <p>
    <label for="password">New Password:</label>
    <input id="password" type="password" name="user[password]">
  </p>
    <p>
    <label for="password">New Password:</label>
    <input id="password" type="password" name="user[password_confirmation]">
  </p>

  <input id="Submit" type="submit" value="Submit">
</form>