<div class="container">
  <h2 class="display-4"> Please Log In:</h2>
</div>
<%if @errors%>
  <div class="container">
    <h3><%=@errors%></h3>
  </div>
  <hr>
<%end%>
<%if @success%>
  <div class="container">
    <h3><%=@success%></h3>
  </div>
  <hr>
<%end%>
<div class="container">
  <form method="POST" action="/users/login">
    <label for="username">Username: </label>
    <input id="username" class="form-control" type="text" name="username"><br>
    <label for="password">Password:</label>
    <input id="password" class="form-control" type="password" name="password">
    <br>
    <br>
    <button id="submit" type="submit" class="btn btn-primary">Log In</button>
    <a href="/users/new" role="button" class="btn btn-primary">Register an Account</a>
  </form>
</div>