<div class="container">
  <h1 class="display-4">Create an Account:</h1>
</div>
<%if @errors%>
  <div class="alert alert-primary alert-dismissable" role="alert">
    <%=@errors%>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </div>
<%end%>
<hr>
<div class="container">
  <form method="POST" action="/users">
    <p>
    <label for="username">Username:</label>
    <input id="username" class="form-control" type="text" name="user[username]">
    </p>
    <p>
      <label for="password">Password:</label>
      <input id="password" class="form-control" type="password" name="user[password]">
    </p>
    <button id="Submit" class="btn btn-primary" type="submit">Register</button>
  </form>
</div>
