<h1>Create an Account:</h1>
<%unless !@errors%>
  <p>
    <%=@errors%>
  </p>
<%end%>
<form method="POST" action="/users">
  <p>
  <label for="username">Username:</label>
  <input id="username" type="text" name="user[username]">
  </p>
  <p>
    <label for="password">Password:</label>
    <input id="password" type="password" name="user[password]">
  </p>
  <input id="Submit" type="submit" value="Submit">
</form>
