<div class="container">
  <h1 class="display-4">Ingredients</h1>
</div>
<div class="container">
<br>
  <table class="table lead">
    <thead class="thead">
      <tr>
        <th scope="col">Ingredient</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
    <%@ingredients.each do |ingredient|%>
          <tr>
            <a href="/ingredients/<%=ingredient.slug%>">
              <td>
                <a href="/ingredients/<%=ingredient.slug%>"><%=ingredient.name%></a>
              </td>
              <td>
                <%=ingredient.description%>
              </td>
            </a>
          </tr>
    <%end%>
    </tbody>
  </table>
</div>
<hr>
<div class="container d-flex justify-content-end">
    <a class="btn btn-primary" role="button" href='/ingredients/new'>Add Ingredient</a>
</div>

