<div class="container">
  <h3 class="display-4">Bakes</h3>
</div>
<div class="container lead">
  <br>
  <table class="table">
    <thead class="thead">
      <tr>
        <th scope="col">Recipe</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <%@bakes.each do |bake|%>
        <tr>
          <td><a href="/recipes/<%=bake.recipe.slug%>"><%=bake.recipe.name%></a></td>
          <td><a href="/bakes/<%=bake.id%>"><%=bake.date%></a></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>
<div class="container d-flex justify-content-end">
  <a class="btn btn-primary" role="button" href="/bakes/new">New Bake</a>
</div>
